
<table frame="border" border="1" align="center" style="width:20%" bordercolor="green" text-align="center" rules="all">
	<tr align="center">
		<td><font color="red">A</td>
		<td colspan="3"><font color="red">B</td>
	</tr>
	<tr align="center" ><font color="red">
		<td><font color="red">C</td>
		<td colspan="2" rowspan="2"><font color="red">E</td>
		<td><font color="red">F</td>
	</tr>
	<tr align="center">
		<td><font color="red">D</td>
		<td><font color="red">G</td>
	</tr>
	</font>
</table>